@import url(global.css);



@keyframes spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}

.spinning {
  animation: spin 2s linear infinite;
  animation-delay: -2s;  /* Negative delay to synchronize animations */
}

.game-container {
  display: flex;
  justify-content: center; /* Centers the thumbnails horizontally */
  flex-wrap: wrap; /* Allows items to wrap onto the next line */
  max-width: 45%; /* Adjust width to fit 3 items per row */
  margin: auto; /* Centers the container in the middle of the page */
}

.game-thumbnail {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  margin-top: 20%;
  cursor: pointer;
}

.game-thumbnail img {
  width: 180px; /* Adjust size as needed */
  height: auto;
  transition: transform 0.2s;
}

.game-thumbnail p {
  text-align: center;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.game-thumbnail:hover p { /* Changes the text color when the entire thumbnail is hovered */
  color: var(--highlight-color);
}

.link-style {
  text-decoration: none; /* Remove underlining */
  color: var(--text-color); /* Change text color */
}
