:root {
    --background-color: #080808; /* Dark grey */
    --text-color: #f5f5f5; /* Light text */
    --highlight-color: #FFD700; /* Rich gold */
    --box-background-color: #202020; /* Slightly lighter than the background */
  }