:root {
  --background-color: #010209; /* Dark grey */
  --text-color: #f5f5f5; /* Light text */
  --highlight-color: #9be5e9; /* Rich gold */
  --button-color: #555; /* Button color */
  --button-selected-color: #F44336; /* Red for higher, change if needed */
  --button-nonselected-color: #4CAF50; /* Green for lower, change if needed */
}