@import url(global.css);


nav {
  border-bottom: 3px solid var(--highlight-color);
  padding: 10px;
  width: 100%; /* Ensures the nav container spans the full width */
  display: flex;
  justify-content: center; /* Centers the navigation items */
 
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around; /* Evenly space around the items */
  background-color: var(--background-color);
  width: 40%; /* Limits the ul to 40% of the nav width */
}

nav li {
  position: relative;
  padding-top: 10px; /* Prevents touching the top */
  padding-bottom: 10px;

}

nav a {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 20px;
}

nav a:hover, nav li.active a {
  background-color: var(--highlight-color);
  color: var(--background-color);
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%; /* Positions the dropdown below the nav item */
  left: 33%;
  background-color: var(--background-color);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  white-space: nowrap;
}

nav li:hover .dropdown {
  display: flex;
  flex-direction: column;
}

.dropdown a {
  display: block;
  padding: 12px 16px;
  margin-top: 15px;
}

.dropdown a:hover {
  background-color: var(--highlight-color);
  color: var(--background-color);
}

.logo-container {
  position: absolute;
  left: 0;
  margin-left: 20px;
}

.logo {
  width: 50px; /* Adjust size as needed */
  height: auto;
}